

  .not-found {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 70px 0 0 0;
  }

  .numbers {
    color: red;
    font-size: 200px;
  }