.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 0 0;
}

.numbers {
  color: red;
  font-size: 200px;
}

.text-not-found {
  padding: 0 0 40px 0;
}

.col-404-buttons {
  columns: 2;
}

