.home {
    background-color: #636e72;
    padding: 30px 0 50px 0;
}



.projects {
    padding-bottom: 100px;
    margin: 50px 30px 50px 30px
}

.project {
    margin: 50px 0 50px 0;
}

.contact {
    background-color: black;
}

.slider {
    display: none;
}

@media screen and (max-width: 600px) {

    .slider {
        width: 300px;
        height: 300px;
        display: flex;
        overflow-x: auto;
        background-color: #2d3436;
        -webkit-overflow-scrolling: touch;
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        scroll-behavior: smooth;
    }

    .slider {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;



        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        /*
  scroll-snap-points-x: repeat(300px);
  scroll-snap-type: mandatory;
  */
    }

    .slider::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .slider::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
    }

    .slider::-webkit-scrollbar-track {
        background: transparent;
    }

    .slider>div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 300px;
        height: 300px;
        margin-right: 50px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
    }

    .slider>div:target {
        /*   transform: scale(0.8); */
    }

    .slider>div {
        /* CURRENT way. */
        scroll-snap-align: start;
    }

    .projects {
        display: none;
    }
}